.container{

    border:2px solid black;
    width:50%;
    margin: auto;
    position:relative;
    height: 50vh;
   
    background-color: aliceblue;
}
.apple{
    background-color: rgb(197, 12, 12);
    width:80px;
    height:30px;
     bottom: 10px;
     cursor: pointer;
     right:10px;
    display: inline-block;
    position:absolute;
    color:white;
    border-radius: 2px;
        /* z-index: 1  ; */

   


}
.apple:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.1);
}
.banana{
    background-color: rgb(252, 211, 27);
    width:100px;
    height:100px;
    display: inline-block;
     position: relative;
   
}
.orange{
    background-color: rgb(255, 107, 8);
    width:100px;
    height:100px;
    display: inline-block;
   
   
}
.orangein{
    background-color: rgb(255, 107, 8);
    width:60px;
    height:25px;
    position: absolute;
    top: 10px;
    right: 10px;
   
}